@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --colorPrimario: #2e8681;
  --blancoBase:   #fff; /* #163d75; */
  --negroBase: #222;
  --grisBase: #384343;
  --espacioBase: 0.1rem;
  --transicion: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--negroBase);
  background: var(--blancoBase);
  font-family: "Lato", sans-serif;
}


.logo{

  width:175px;
  height:60px;
  fill:none;
}


/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #163d75;
    z-index: 1; /*para fijar la nav bar   */
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .carrito-btn {
    position: relative;
    cursor: pointer;
  }
  .carrito-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--colorPrimario);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--blancoBase);
  }
  /* --------------- fin Navbar ---------------- */



  /* --------------- Header ---------------- */
.headerh {
    min-height: calc(100vh - 60px); /* VER LA UNIDAD VH VIEW HIGH MIN 32 33 */
    background: url("../img/Banner_medicion.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
  }
  .banner-titulo {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--espacioBase);
    margin-bottom: 3rem;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--espacioBase);
    font-size: 1rem;
    background:  var(--colorPrimario); 
    color: var(--negroBase);
    border: 1px solid  var(--colorPrimario) ;
    transition: var(--transicion);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color:  var(--colorPrimario); 
  }
  /* --------------- Fin Header ---------------- */



  /* --------------- Productos ---------------- */

.productos {
    padding: 4rem 0;
  }
  .section-title h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;

  }
  .section-title h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--espacioBase);
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--espacioBase);
  }
  .productos-central {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

    /* SI QUISIERA REPASAR ESTA  PROPIEDAD 45/50 MIN LOGRARIA RESPONSIVE SIN MEDIA QUERY */
    
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--colorPrimario); 
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--espacioBase);
    font-weight: bold;
    transition: var(--transicion);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--blancoBase);
  }
  .fa-shopping-carrito {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .productos-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--transicion);
  }
  .img-container:hover .productos-img {
    opacity: 0.5;
  }
  
  .productos h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--espacioBase);
    text-align: center;
  }
  
  .productos h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--espacioBase);
    color: var(--colorPrimario);
    text-align: center;
  }
  
  /* -------------- Fin Productos ---------------- */
 

/* --------------- Carrito ---------------- */
.carrito-sup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--transicion);
  background:#163e7576;
  z-index: 2;
  visibility: hidden;
}
.carrito {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(186, 183, 188);
  padding: 1.5rem;
  transition: var(--transicion);
  transform: translateX(100%);
}
.mostrarCarrito {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .carrito {
    width: 30vw;
    min-width: 450px;
  }
}

.close-carrito {
  font-size: 1.7rem;
  cursor: pointer;
}
.carrito h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--espacioBase);
  margin-bottom: 2rem;
}
/*---------- Articulo carrito -------------------- */
.carrito-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.carrito-item img {
  width: 75px;
  height: 75px;
}
.carrito-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--espacioBase);
}
.carrito-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--espacioBase);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: rgb(66, 66, 66);
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--colorPrimario);
  cursor: pointer;
}
/*----------Fin articulo carrito -------------------- */

.carrito-footer {
  margin-top: 2rem;
  letter-spacing: var(--espacioBase);
  text-align: center;
}
.carrito-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* ---------------Fin carrito---------------- */

